{% extends 'bootstrap_base.html' %}

<head>
	{% load staticfiles %}
	<link href='{% static "styles.css" %}' rel=stylesheet />
	<title>
		Creating new comment
	</title>
</head>

{% block body %}
{% if user.is_authenticated %}
	<h1>Add comment</h1>
	</br></br>

	<div class='form_group'>
	<form method="POST">
		{% csrf_token %}
		{{ form.as_p }}
		<button>Add comment</button>
	</div>

	<script>
		var name = "{{ user.username }}";
		document.getElementById("elder").value = name;
	</script>

{% else %}
	<p>You are not logging in!</p>
{% endif %}
{% endblock %}

