{% extends 'bootstrap_base.html' %}

<head>
	{% load staticfiles %}
	<link href='{% static "styles.css" %}' rel=stylesheet />
	<title>
		To do list:
	</title>
</head>

{% block body %}

<p>Hello!</p>
<p>My various things will be temporarily stored here, okay?</p><br/>
<h1>To do list:</h1>
<p><s>Likes</s></p>
<p><s>Make git repository for heroku</s></p>
<p>Add multicategories feature</p>
<p><s>Add fulter(by categories) system</s> 22.11.2020 </p>
<p>Add advanced auth system</p>
<p><s>Fix html enjection</s></p>
<p><s>Do something with spaces in link categories</s> 22.11.2020 </p>
<p><s>Add rich text box for post body</s></p>
<p>Add reputation</p>
<p>Add API for moders?</p>
<p>Add bots API?</p>
<p>Create meme board</p>
</br></br>

</div>
{% endblock %}

